<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
  <div class="col-md-3 mb-2 mb-md-0"></div>

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a href="#/" class="nav-link px-2 link-body-emphasis">{{t.header_home}}</a></li>
    <li><a href="#/wotlk/caverns" class="nav-link px-2 link-body-emphasis">{{t.header_caverns}}</a></li>
    <li><a href="#/wotlk/calculator" class="nav-link px-2 link-body-emphasis">{{t.header_calculator}}</a></li>
    <li><a href="#/wotlk/mohelper" class="nav-link px-2 link-body-emphasis">{{t.header_mohelper}}</a></li>
  </ul>

  <div class="col-md-3 text-end">
    <select id="lang-switch" class="form-select form-select-sm w-auto d-inline-block">
      <option value="en" data-wowhead="en" selected>English</option>
      <option value="de" data-wowhead="de">Deutsch</option>
      <option value="es" data-wowhead="es">Español</option>
      <option value="fr" data-wowhead="fr">Français</option>
      <option value="ko" data-wowhead="ko">한국</option>
      <option value="ru" data-wowhead="ru">Русский</option>
      <option value="cn" data-wowhead="cn">简体中文</option>
      <option value="tw" data-wowhead="tw">繁體中文</option>
    </select>
  </div>
</header>
