.container-img {
    position: relative;
    display: inline-block;
}

#backgroundImage {
    display: block;
    max-width: 100%;
    height: auto;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    cursor: crosshair;
}

.instructions {
    margin: 10px 0;
}