<div class="container">
  <main>
    <div class="py-2 text-center">
      <h2>Caverns and Mines Fix</h2>
      <p>Missing Data For Some Addons</p>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8">
        <select class="form-select mb-3" aria-label="Select Addon">
            <option selected disabled>Select Addon</option>
            <option value="1">Astrolabe</option>
            <option value="2">Questie</option>
            <option value="3">Gathermate</option>
        </select>
        <textarea class="form-control mb-3" placeholder="Select Addon and Copy Missing Data" aria-label="Copy Missing Data" id="caverns" rows="15"></textarea>
      </div>
    </div>
  </main>
</div>