<div class="container">
  <main>
    <div class="py-2 text-center">
      <h2>MO Helper</h2>
      <p>mod-missing-objectives helper</p>
    </div>

    <div class="row justify-content-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10 col-lg-8 mb-4">
            <select class="form-select" id="addons" aria-label="Select Addon">
              <option selected disabled>Select Addon</option>
            </select>
            
          </div>
        </div>
      </div>
    </div>
  </main>
</div>